/* Exercise*/
.admonition.is-category-exercise {
  background-color: #9beeb8;
  border-color: #22c35b;
}

.admonition.is-category-exercise > .admonition-header {
  background-color: #22c35b;
  color: #fff;
}

/* Solution*/
.solution-header {
    font-weight: bold;
    margin: -.5em -.5em 0;
    background-color: #ff9933;
    border: 1px solid #ff9933;
    color: #FFFFFF;
    align-items: center;
    font-weight: 700;
    justify-content: space-between;
    line-height: 1.25;
    padding: 0.75em;
    position: relative;
    cursor: pointer;
}

.solution-body {
    border-radius: 4px;
    padding: .5em .5em 0;
    background-color: #ffCC99;
    border: 1px solid #ff9933;
    margin-top: -1rem;
    margin-bottom: 1.5rem;
}

/* Theorem*/
.admonition.is-category-theorem {
  background-color: #f5b7b1;
  border-color: #e74c3c;
}

.admonition.is-category-theorem > .admonition-header {
  background-color: #e74c3c;
  color: #fff;
}

/* Homework class */
.admonition.is-category-homework {
  background-color: #d7bde2;
  border-color: #8e44ad;
}

.admonition.is-category-homework > .admonition-header {
  background-color: #8e44ad;
  color: #fff;
}

/* Bonus class */
.admonition.is-category-bonus {
  background-color: #99e6f0;
  border-color: #1db5c9;
}

.admonition.is-category-bonus > .admonition-header {
  background-color: #1db5c9;
  color: #fff;
}
